td {
  padding: 0;
  width: 20px;
  height: 20px;
  font-size: 19px;
  line-height: 20px;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid black;
}
